<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Tests/autoload.php.dist" colors="true" topOnFailure="false">
    <testsuites>
        <testsuite name="Kairos Google Analytics client bundle test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>